@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(Iceland.woff) format('woff');
}
body{
	font-family:"Iceland";
}