<!-- data-block start -->
<div class="row">
    <article class="col-sm-3 col-xs-12">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-lock"></span>
                <h3>Secure</h3>
                <p>All your data is stored encrypted and can only be decrypted with your password.</p>
            </section>
        </div>
    </article>
            
    <article class="col-sm-3 col-xs-12">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-globe"></span>
                <h3>Worldwide access</h3>
                <p>Going on a holiday or business trip? No problem, you can access your coins from all over the world.</p>
            </section>
        </div>
    </article>
            
    <article class="col-sm-3 col-xs-12">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-eye-close"></span>
                <h3>Privacy</h3>
                <p>We have no control over your wallet. You're 100% in charge of your own wallet.</p>
            </section>
        </div>
    </article>
            
    <article class="col-sm-3 col-xs-12">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-thumbs-up"></span>
                <h3>Easy</h3>
                <p>We make it really easy for you to use your online wallet and perform various operations with it.</p>
            </section>
        </div>
    </article>
</div>
<!-- data-block end -->