<div include="template/default/loader.html"></div>
<div id="content" class="content">
<!-- template start -->
<section class="ng-scope">
	<div include="template/default/header.html"></div>
	<div id="wrapper" ng-init="init()" class="ng-scope">
	    <section class="container">
		    <!--div include="template/default/jumbotron_blue.html"></div>
		    <div include="template/default/planblock.html"></div>
	        <div include="template/default/jumbotron_green.html"></div>
		    <div include="template/default/datablock.html"></div>
	    	<div include="template/default/jumbotron.html"></div>
		    <div include="template/default/code.html"></div-->
			
		</section>
	</div>
	<div include="template/default/footer.html"></div>
</section>
<!-- template end -->
</div>

