<!-- plan-block start -->
<div class="row">
    <article class="col-sm-4 col-xs-12 ng-scope">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-user"></span>
                <h3 class="ng-binding">New wallet</h3>
                <p class="ng-binding">Need a new wallet?</p>
                <a class="btn btn-block btn-lg btn-success ng-binding" href="#">Create wallet</a>
            </section>
        </div>
    </article>
            
    <article class="col-sm-4 col-xs-12 ng-scope">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-unlock"></span>
                <h3 class="ng-binding">Existing wallet</h3>
                <p class="ng-binding">Already have a wallet?</p>
                <a class="btn btn-block btn-lg btn-success ng-binding" href="#">Log in</a>
            </section>
        </div>
    </article>
            
    <article class="col-sm-4 col-xs-12 ng-scope">
        <div class="data-block plan-block">
            <section>
                <span class="elusive icon-qrcode"></span>
                <h3 class="ng-binding">Paper wallet</h3>
                <p class="ng-binding">Easily redeem paper wallet?</p>
                <a class="btn btn-block btn-lg btn-success" href="#">Redeem paper wallet</a>
            </section>
        </div>
    </article>
</div>

<!-- plan-block end -->